{% set page_name = "Home" %}
{% extends "./layouts/main.njk" %}
{% block content %}
<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__offer">
        <h1>Title</h1>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
