html {
  box-sizing: border-box;

  font-size: 62.5%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: var(--clr-white);

  background: var(--clr-black);
}

body::-webkit-scrollbar {
  width: 7.5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-black);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  overflow: overlay;

  color: var(--clr-black);
  font-weight: 400;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: calc(28 / 18 * 100%);

  background-color: var(--clr-white);
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}
